/* PLACEHOLDERS */


// WIDTH
%width100 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

%paddingLimit {
    padding-left: 20px;
    padding-right: 20px;
}

%widthLimit {
    @extend %width100;
    max-width: $widthLimit;
    @extend %paddingLimit;
}


// PSEUDO ELEMENTS
%pseudoE {
    @include flex;
    @extend %width100;
    content: '';
}


// FONT FAMILIES
%gothamM {
    font-family: $gothamM;
}
%gothamB {
    font-family: $gothamB;
}
%gothamBook {
    font-family: $gothamBook;
}
%interstate {
    font-family: $interstate;
}
%interstateLC {
    font-family: $interstateLC;
}
%interstateBC {
    font-family: $interstateBC;
}
%bodoniBook {
    font-family: $bodoniBook;
}


// TEXT
%sTitle {
    font-size: toRem(24);
    @include mq(mob){
        font-size: toRem(22);
    }
}

%prominentTitle {
    font-size: toRem(40);
    @include mq(tab){
        font-size: toRem(35);
    }
    @include mq(mob){
        font-size: toRem(30);
    }
}

%historySubtitle {
    font-size: toRem(30);
    @include mq(tab){
        font-size: toRem(26);
    }
    @include mq(mob){
        font-size: toRem(22);
    }
}

%eventsTitle {
    font-size: toRem(17);
    @include mq(mob){
        font-size: toRem(15);
    }
}

%text {
    font-size: toRem(16);
    @include mq(mob){
        font-size: toRem(15);
    }
}

%formLabel {
    font-size: toRem(14);
    @include mq(mob){
        font-size: toRem(13);
    }
}

%textS {
    font-size: toRem(11);
    @include mq(mob){
        font-size: toRem(10);
    }
}

// HIDE INPUTS TYPE CHECKBOX AND RADIO
%hideCheckbox {
	display: block;
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
}


// CENTER POSITION
%centerPos {
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}