/* CONTAINER */

// CONTAINER
.container {
    width: 100%;
    &--general {
        overflow: hidden;
    }
    &--relative {
        position: relative;
    }
    &--min215 {
        min-height: 215px;
    }
    &--limit {
        @extend %widthLimit;
    }
    &--black {
        background: $black;
    }
    &--lGray {
        background: $lGray;
    }
}