/* FOOTER */

// FOOTER
.footer {
    width: 100%;
    padding: 15px 0;
    background: $lGray;
    &__container {
        @include flex(flex-start);
        @extend %widthLimit;
        height: auto;
    }
    &__box {
        @include flex($d: inline-flex);
        width: auto;
        &:nth-of-type(2) {
            margin-left: auto;
        }
        @include mq(tab) {
            width: 100%;
            &:not(:last-of-type) {
                margin-bottom: 5px;
            }
        }
        @include mq(mob) {
            &:not(:last-of-type) {
                margin-bottom: 10px;
            }
        }
    }
    &__text {
        @extend %gothamM;
        font-size: toRem(12);
        letter-spacing: 1px;
        @include mq(tab) {
            width: 100%;
            margin-bottom: 5px;
            text-align: center;
        }
        &--link {
            @extend %gothamB;
            color: $black;
        }
        &--email {
            color: $black;
        }
        &::after {
            content: "•";
            line-height: 1px;
            margin-left: 5px;
            margin-right: 10px;
            @include mq(mob) {
                display: none;
            }
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
    }
}