/* HEADER */


// HEADER
.header {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 94px;
    left: 0;
    right: 0;
    z-index: +5;
    @include mq(tab) {
        top: 50px;
    }
    @include mq(mob) {
        top: 40px;
    }
    &__container {
        @include flex(flex-start);
        @extend %widthLimit;
        height: auto;
        min-height: 106px;
        padding: 30px 64px;
        background: rgba($white, .9);
        position: relative;
        @include mq(tab) {
            min-height: 96px;
            padding: 30px;
        }
        @include mq(mob) {
            min-height: 76px;
            padding: 20px;
        }
        @include mq(mobS2) {
            min-height: 56px;
        }
    }
    &__text {
        @extend %gothamM;
        font-size: toRem(14);
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: 2px;
        &--s {
            font-size: toRem(11);
            @include mq(mob) {
                font-size: toRem(9);
                letter-spacing: 1px;
            }
            @include mq(mobS2) {
                font-size: toRem(9);
                letter-spacing: 0;
            }
        }
    }
}


// LOGO
.logo {
    display: inline-block;
    @include square(200);
    line-height: 0;
    position: absolute;
    @extend %centerPos;
    @include mq(tab) {
        @include square(160);
    }
    @include mq(mob) {
        @include square(120);
    }
    @include mq(mobS2) {
        @include square(80);
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}


// NAV
.nav {
    width: 100%;
    margin-left: auto;
    &__list {
        @include flex;
        &__item {

        }
        &__link {
            @include flex($d:inline-flex);
            background: red;
        }
    }
}