/* VARIABLES */


// ROOT
:root {
    // COLORS
    --color-black: #000;
    --color-lBlack: #292929;

    --color-white: #fff;

    --color-lGray: #dfdfdf;

    --color-red: #ff0000;

    --color-success: #219c3e;
    --color-warning: #d66519;
    --color-information: #2476ce;
}


// MEDIAQUERIES
$mediaqueries: (
    hover: "(hover: hover)",
    ie: "screen and (-ms-high-contrast: active), (-ms-high-contrast: none)",
    safari:
        "screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)",
    safari2: "not all and (min-resolution:.001dpcm)",
    mobS3: 360,
    mobS2: 480,
    mobS: 640,
    mob: 767,
    tabS: 820,
    tab: 991,
    lapS4: 1024,
    lapS3: 1099,
    lapS2: 1199,
    lapS: 1280,
    lap: 1367,
    deskS: 1440,
    desk: 1560,
    deskB: 1680,
);


// WIDTH
$widthLimit: 1120px;


// COLORS
$black: #000;
$lBlack: var(--color-lBlack);

$dGray: #282930;
$mGray: #676b67;
$gray: #979fa4;
$lGray: #F1F2F2;
$lGray2: #b8b9b9;

$white: #FFF;

$red: #e21f25;


// ALERTS
$success: var(--color-success);
$warning: var(--color-warning);
$error: $red;
$information: var(--color-information);


// FORMS
$wrong: $red;


// LOADER
$bgLoader: $black;
$strokeLoader: $white;

$widthLoader: 100px;


// GLOBAL FONTS
$ftRegular: arial, sans-serif;

$interstateLC: 'interstateLC', $ftRegular;
$interstate: 'interstate', $ftRegular;
$interstateBC: 'interstateBC', $ftRegular;
$gothamM: 'gothamMedium', $ftRegular;
$gothamBook: 'gothamBook', $ftRegular;
$gothamB: 'gothamBold', $ftRegular;
$bodoniBook: 'bodoniBook', serif;

$fontFamily: $ftRegular;
$baseFont: 16;


// MODAL
$bgModal: rgba($mGray, .75);
$maxWModal: 325px;
$minHModal: 400px;
$maxHModal: 650px;


// HAMBURGER BTN
$acSizeHam: false;
$sizeHam: 80px;
$bgHam: transparent;
$colorBarHam: $black;
$widthBarHam: 24px;
$heightBarHam: 2px;
$radiusBarHam: 2px;
$spaceBar: $heightBarHam + 3px;