/* FONTS */


// INTERSTATE LIGHT CONDENSED
@font-face {
  font-family: 'interstateLC';
  src:  url('../fonts/interstate/Interstate-LightCondensed.eot?#iefix') format('embedded-opentype'),
        url('../fonts/interstate/Interstate-LightCondensed.otf')  format('opentype'),
        url('../fonts/interstate/Interstate-LightCondensed.woff') format('woff'),
        url('../fonts/interstate/Interstate-LightCondensed.ttf')  format('truetype'),
        url('../fonts/interstate/Interstate-LightCondensed.svg#Interstate-LightCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}


// INTERSTATE BOLD CONDENSED
@font-face {
  font-family: 'interstateBC';
  src:  url('../fonts/interstate/Interstate-BoldCondensed.eot?#iefix') format('embedded-opentype'),
        url('../fonts/interstate/Interstate-BoldCondensed.otf')  format('opentype'),
        url('../fonts/interstate/Interstate-BoldCondensed.woff') format('woff'),
        url('../fonts/interstate/Interstate-BoldCondensed.ttf')  format('truetype'),
        url('../fonts/interstate/Interstate-BoldCondensed.svg#Interstate-BoldCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}


// INTERSTATE REGULAR
@font-face {
  font-family: 'Interstate';
  src:  url('../fonts/interstate/Interstate-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/interstate/Interstate-Regular.otf')  format('opentype'),
        url('../fonts/interstate/Interstate-Regular.woff') format('woff'),
        url('../fonts/interstate/Interstate-Regular.ttf')  format('truetype'),
        url('../fonts/interstate/Interstate-Regular.svg#Interstate-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


// GOTHAM MEDIUM
@font-face {
  font-family: 'gothamMedium';
  src:  url('../fonts/gotham/GothamMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/GothamMedium.otf')  format('opentype'),
        url('../fonts/gotham/GothamMedium.woff') format('woff'),
        url('../fonts/gotham/GothamMedium.ttf')  format('truetype'),
        url('../fonts/gotham/GothamMedium.svg#GothamMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}


// GOTHAM BOLD
@font-face {
  font-family: 'gothamBold';
  src:  url('../fonts/gotham/GothamBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/GothamBold.otf')  format('opentype'),
        url('../fonts/gotham/GothamBold.woff') format('woff'),
        url('../fonts/gotham/GothamBold.ttf')  format('truetype'),
        url('../fonts/gotham/GothamBold.svg#GothamBold') format('svg');
  font-weight: normal;
  font-style: normal;
}


// GOTHAM BOLD
@font-face {
  font-family: 'gothamBook';
  src:  url('../fonts/gotham/GothamBook.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/GothamBook.otf')  format('opentype'),
        url('../fonts/gotham/GothamBook.woff') format('woff'),
        url('../fonts/gotham/GothamBook.ttf')  format('truetype'),
        url('../fonts/gotham/GothamBook.svg#GothamBook') format('svg');
  font-weight: normal;
  font-style: normal;
}


// BODONI BOOK
@font-face {
  font-family: 'bodoniBook';
  src:  url('../fonts/bodoni/Bodoni-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bodoni/Bodoni-Book.otf')  format('opentype'),
        url('../fonts/bodoni/Bodoni-Book.woff') format('woff'),
        url('../fonts/bodoni/Bodoni-Book.ttf')  format('truetype'),
        url('../fonts/bodoni/Bodoni-Book.svg#Bodoni-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}