/* BOXES */


// BIG BOX
.bigBox {
    @extend %width100;
    &__container {
        @include flex;
        @extend %widthLimit;
    }
    &__left, &__right {
        width: 50%;
    }
    &__left {
        padding-right: 20px;
    }
    &__right {
        padding-left: 20px;
    }
}


// HISTORY BOX
.historyBox {
    @include flex($ai: flex-start);
    @extend  %width100;
    min-height: 385px;
    padding: 40px 140px;
    background: $black;
    color: $white;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: +1;
    @include mq(lapS3) {
        padding: 40px;
        position: static;
    }
    @include mq(tab) {
        padding: 40px 20px;
        min-height: auto;
    }
    @include mq(mob) {
        padding: 40px 0;
    }
    &__line {
        display: block;
        width: 100%;
        max-width: 560px;
        height: 5px;
        position: absolute;
        @extend %centerPos;
        bottom: unset;
        @include mq(mob) {
            height: 3px;
        }
        &.noIndicator {
            background: $white;
        }
        .swiper-pagination-progressbar-fill {
            background: $white !important;
        }
    }
    &__title, &__subtitle {
        @extend %width100;
        @extend %bodoniBook;
        text-align: center;
        line-height: 1;
    }
    &__title {
        @extend %prominentTitle;
    }
    &__subtitle {
        @extend %historySubtitle;
    }
}


// PROMINENT BOX
.prominentBox {
    @include flex($ai: stretch);
    @extend %width100;
    padding-top: 65px;
    padding-bottom: 65px;
    overflow: hidden;
    @include mq(lapS2) {
        padding-left: 20px;
        padding-right: 20px;
    }
    @include mq(tab) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    @include mq(mob) {
        padding-top: 0;
    }
    &__left {
        @include flex($ai: flex-start);
        width: 42.5%;
        padding-right: 70px;
        @include mq(lapS2) {
            width: 50%;
            padding-right: 20px;
        }
        @include mq(mob) {
            order: 1;
            width: 100%;
            padding-right: 0;
        }
    }
    &__right {
        width: 57.5%;
        @include mq(lapS2) {
            width: 50%;
        }
        @include mq(mob) {
            order: 0;
            width: 100%;
        }
    }
    &__picture, &__img {
        display: block;
        @extend %width100;
        height: 100%;
        line-height: 0;
    }
    &__picture {
        @include mq(mob) {
            width: calc(100% + 40px);
            margin-left: -20px;
            margin-right: -20px;
        }
    }
    &__img {
        box-shadow: 0 0 5px $lGray2;
        object-fit: cover;
    }
    &__upText {
        @extend %width100;
        @extend %interstateLC;
        font-size: toRem(17);
    }
    &__title {
        @extend %width100;
        @extend %gothamB;
        @extend %prominentTitle;
        color: $gray;
        line-height: 1.15;
        letter-spacing: -3px;
        @include mq(mob) {
            text-align: center;
        }
    }
    .text {
        @include mq(mob) {
            text-align: center;
        }
    }
}


// EVENTS
.events {
    width: calc(100% + 20px);
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    &__container {
        @include flex;
        @extend %width100;
    }
    &__title {
        padding-right: 20px;
        text-transform: uppercase;
        @extend %gothamBook;
        @extend %eventsTitle;
        color: $dGray;
    }
}


// EVENT
.event {
    @include flex;
    width: calc((100% / 4) - 20px);
    max-width: 300px;
    margin: 0 20px 20px 0;
    position: relative;
    @include transition;
    transform: scale(1);
    overflow: hidden;
    @include mq(tab) {
        width: calc((100% / 3) - 20px);
    }
    @include mq(mob) {
        width: calc((100% / 2) - 20px);
    }
    @include mq(mobS2) {
        width: calc(100% - 20px);
    }
    &__date {
        min-width: 96px;
        height: 55px;
        padding: 8px;
        background: $dGray;
        color: $white;
        position: absolute;
        top: 0;
        left: 0;
        @include transition;
        z-index: +1;
        &__day {
            display: inline-block;
            width: 52px;
            @extend %interstateBC;
            font-size: toRem(50);
            text-align: center;
            line-height: 40px;
        }
        &__month {
            margin-left: -2px;
            @extend %interstateBC;
            font-size: toRem(20);
            writing-mode: tb;
            letter-spacing: 1px;
            text-transform: uppercase;
            transform: scale(-1);
        }
    }
    &__img {
        @extend %width100;
        height: 170px;
        height: auto;
        object-fit: cover;
        transform: scale(1);
        @include transition;
    }
    &:hover {
        transform: scale(1.1);
        .event {
            &__date {
                background: $black;
            }
            &__img {
                transform: scale(1.1);
            }
        }
    }
}