/* BUTTONS */

.btn {
	@include flex($fw: nowrap, $d:inline-flex);
	vertical-align: middle;
	border: 1px solid transparent;
	padding: 7px 10px;
	outline: none;
	background: $black;
	text-align: center;
	@extend %eventsTitle;
	color: $white;
	line-height: 1;
	letter-spacing: .8px;
	cursor: pointer;
	@include transition;
	&--float {
		width: 40px;
		height: 125px;
		@extend %gothamB;
		text-transform: uppercase;
		letter-spacing: -1.4px;
		writing-mode: tb;
		transform: scale(-1);
		position: fixed;
		top: 82px;
		right: 0;
		z-index: +5;
		@include mq(mob) {
			width: 35px;
			height: 110px;
		}
		&:hover {
			color: $black;
			background: $white;
		}
		&.active {
			top: 242px;
			right: 325px;
			z-index: +6;
			@include mq(mob) {
				top: 180px;
			}
		}
	}
	&--lineRed {
		border: 2px solid $red;
		border-radius: 3px;
		background: transparent;
		@extend %interstateBC;
		color: $red;
		text-transform: uppercase;
		&:hover {
			background: $red;
			color: $white;
		}
	}
	.prominentBox & {
		align-self: flex-end;
	}
}

// HAMBURGER BTN

.hamburgerBtn {
	@include flex;
	width: $widthBarHam + 8;
	height: $widthBarHam + 8;
	@if $acSizeHam {
		width: $sizeHam;
		height: $sizeHam;
	}
	background: $bgHam;
	position: relative;
	overflow: hidden;
	&__line {
		display: block;
		width: $widthBarHam;
		@if $acSizeHam {
			width: 90%;
		}
		height: $heightBarHam;
		background: $colorBarHam;
		@if $radiusBarHam {
			border-radius: $radiusBarHam;
		}
		@include transition;
		overflow: hidden;
		&:first-of-type {
			transform: translateY((-$spaceBar));
		}
		&:last-of-type {
			transform: translateY($spaceBar);
		}
	}
	&.active {
		.hamburgerBtn__line {
			&:first-of-type {
				transform: translateY($heightBarHam) rotate(-45deg);
			}
			&:nth-of-type(2) {
				opacity: 0;
			}
			&:last-of-type {
				transform: translateY((-$heightBarHam)) rotate(45deg);
				transition-delay: .1s;
			}
		}
	}
}