/* CAROUSEL */

// CAROUSEL
.carousel {
    @extend %width100;
    position: relative;
    overflow: hidden;
    &::before {
        @extend %pseudoE;
        width: 100%;
        height: 100%;
        position: absolute;
        @extend %centerPos;
        background: radial-gradient(circle, rgba($black, 0) 42%, rgba($black, 1) 100%);
        z-index: +3;
    }
    &__item {
        @include flex;
        background: $black;
        overflow: hidden;
        &__picture {
            @include flex;
            width: 100%;
            line-height: 0;
            overflow: hidden;
        }
        &__img {
            width: 100%;
            min-height: 600px;
            height: 100vh;
            max-height: 850px;
            object-fit: cover;
            @include mq(mob) {
                width: 100%;
                min-height: 300px;
                height: calc(100vh - 3px);
                // max-height: 850px;
            }
        }
    }
}

// SWIPER
.swiper-container.carousel {
    .swiper {
        &-button {
            &-prev,
            &-next {
                &::after {
                    color: $white;
                    @include mq(mob) {
                        font-size: toRem(35);
                    }
                    @include mq(mobS2) {
                        font-size: toRem(30);
                    }
                }
            }
            &-prev {
                left: 90px;
                @include mq(mob) {
                    left: 60px;
                }
                @include mq(mobS2) {
                    left: 40px;
                }
            }
            &-next {
                right: 90px;
                @include mq(mob) {
                    right: 60px;
                }
                @include mq(mobS2) {
                    right: 40px;
                }
            }
        }
    }
}
