/* FORMS */


// FORM
.form {
	&__title {
		@extend %width100;
		@extend %gothamB;
		@extend %prominentTitle;
		text-align: left;
		letter-spacing: -3px;
		line-height: 1;
		text-transform: uppercase;
		color: $white;
	}
	&__box {
		@extend %width100;
		padding: 0;
		padding-bottom: 15px;
		margin-bottom: 17px;
		position: relative;
		@include mq(mob) {
			margin-bottom: 12px;
		}
		.form__group--dual & {
			width: calc((100% / 2) - 12px);
			&:first-of-type {
				margin-left: 0;
			}
			&:nth-of-type(2) {
				margin-right: 0;
			}
		}
		&--icon {
			position: relative;
			&::before {
				@extend %pseudoE;
				width: 17px;
				height: 17px;
				@include bg('icons/calendar.svg', $size: initial);
				position: absolute;
				top: 34px;
				right: 15px;
				pointer-events: none
			}
		}
	}
	&__group {
		@include flex;
		@extend %width100;
		&--dual {
			@include flex(space-between);
		}
		&__title {
			@extend .form__label;
		}
	}
	&__label {
		display: block;
		@extend %width100;
		margin-bottom: 10px;
		@extend %gothamBook;
		@extend %formLabel;
		text-align: left;
		text-transform: uppercase;
		font-weight: 400;
		color: $white;
		@include transition;
	}
	&__input {
		width: 100%;
		padding: 12px;
		height: 36px;
		border: 2px solid transparent;
		@extend %interstate;
		font-size: toRem(14);
		color: $gray;
		font-weight: 400;
		letter-spacing: .5px;
		@include transition;
		@include placeholder {
			font-size: toRem(14);
			color: $gray;
			font-weight: 400;
		}
		&--date {
			padding-right: 40px;
		}
		&.error {
			border-color: $red;
			color: $red;
		}
	}
	&__message {
		@extend %width100;
		@extend %interstate;
		font-size: toRem(10);
		text-align: left;
		letter-spacing: 1px;
		position: absolute;
		left: 0;
		bottom: 2px;
		&--error {
			color: $red;
		}
	}
	&__link {
		display: block;
		@extend %gothamBook;
		@extend %width100;
		color: $gray;
		&::after {
			display: inline-block;
			content: "";
			width: 25px;
			height: 12px;
			margin-left: 5px;
			@include bg('icons/arrow--large.svg');
		}
	}
	&__info {
		@extend %bodoniBook;
		font-size: toRem(15);
		text-align: center;
		letter-spacing: 1px;
		color: $gray;
	}
}