/* MODAL */


// MODAL
.modal {
	@include flex(flex-end, flex-start);
	width: 100vw;
	height: 100vh;
	background: $bgModal;
	position: fixed;
	top: 0;
	left: 0;
	@include transition;
	z-index: +5;
	&__container {
		@include flex($ai: flex-start);
		width: 100%;
		max-width: $maxWModal;
		height: 100vh;
		min-height: $minHModal;
		max-height: $maxHModal;
		padding: 80px 50px 35px;
		box-shadow: 0 0 10px rgba($dGray, .75);
		margin: auto 0;
		font-size: toRem(15);
		text-align: center;
		background: $dGray;
		position: absolute;
		top: 0;
		bottom: 0;
		right: -325px;
		@include transition;
		@include mq(mob) {
			padding: 60px 40px 40px;
		}
	}
	&__content {
		@extend %width100;
		height: 100%;
		overflow-y: auto;
	}
	&__title {
		width: 100%;
		color: $white;
	}
	&__close {
		@include flex;
		width: 15px;
		height: 15px;
		position: absolute;
		top: 30px;
		left: 20px;
		@include bg('icons/close.svg');
		cursor: pointer;
	}
	&:not(.hide) {
		.modal {
			&__container {
				right: 0;
			}
		}
	}
}